body{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 50px;
    text-align: center;
}

.container1{
    background-color: peachpuff;
    width: 20%;
    border-style: solid;
    margin-left: 40%;
    padding: 10px;
    text-align: center;
}

.container1 input{
    display: block;
    width: 80%;
    background-color: papayawhip;
    margin: 20px 20px 20px 20px;
}

.container2{
    background-color: papayawhip;
    width: 40%;
    border-style: solid;
    margin-top: 20px;
    margin-left: 30%;
    padding: 10px;
}

button{
    font-weight: bold;
    border: solid;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50%;
    border-radius: 8px;
}

.button1{
    background-color: lightblue;
    border-color: cornflowerblue;
}

.button2{
    background-color: coral; 
    border-color: orangered;
}